# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  PGHOST: 127.0.0.1
  PGUSER: postgres
  RAILS_ENV: test
  DB_NAME: Premium_backend
  DB_USER_NAME: postgres
  DB_USER_PASSWD: postgres

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.6.5']
        
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Build DB
      run: |
        bundle exec rails db:create
        bundle exec rails db:migrate
    - name: Download chromedriver
      run: |
        mkdir -p /usr/local/bin
        wget -q -O tmp.zip https://chromedriver.storage.googleapis.com/91.0.4472.19/chromedriver_linux64.zip
        unzip tmp.zip && rm -rf tmp.zip
        sudo mv chromedriver /usr/local/bin
        
    - name: Run tests
      env:
        REDIS_HOST: localhost
        REDIS_PORT: 6379
        AWS_ACCESS_ID: ${{ secrets.AWS_ACCESS_ID }}
        AWS_ACCESS_SECRET_KEY: ${{ secrets.AWS_ACCESS_SECRET_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
        AWS_S3_END_POINT: ${{ secrets.AWS_S3_END_POINT }}
      run: 
        bundle exec rspec spec/requests
